{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <h1>Student list</h1>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">House</th>
                    <th scope="col">Year</th>
                </tr>
            </thead>
            <tbody>
                {% for student in studentsData %}
                <tr>
                    <!-- <th scope="row"><a href="{{ url_for('student', id=student[0]) }}">{{ student[0] }}</a></th> -->
                    <td>{{ student[0] }}</td>
                    <td>{{ student[1] }}</td>
                    <td>{{ student[2] }}</td>
                    <td>{{ student[3] }}</td>
                    <td>{{ student[4] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
